/* CSS Sistema HPVC
   Desenvolvido por Luciano Baraúna
   Data: 17/06/2012
   http://lucianobarauna.com.br/
*/
body{ 
	background:#1e2632;
	font-family:OpenSansRegular;
	font-size:62.5%;
}
/* ==========================================================================
ELEMENTOS GERAIS
========================================================================== */
.centraliza{
	margin:0 auto;
}
/* ==========================================================================
LOGIN
========================================================================== */
.corpo-login{ 
  	background:url(../img/bg.jpg);
}
.form-login{
	margin:0 auto; 
	padding:10px 0 0 0; 
	width:960px; 
	height:700px;
}
.form-login fieldset{ 
	margin:250px auto 0; 
	padding:30px 20px 40px 20px; 
	width:218px; 
	height:185px; 
	-webkit-border-radius:5px; 
	-moz-border-radius:5px; 
	border-radius:5px; 
	-webkit-box-shadow: 
		inset 0px 0px 1px 1px rgba(245, 245, 245, 1), 
		0px 0px 20px 0px rgba(0, 0, 20, 0.5); 
	box-shadow: 
		inset 0px 0px 1px 1px rgba(245, 245, 245, 1), 
		0px 0px 20px 0px rgba(0, 0, 20, 0.8); 
	background: #dfdfe0;
}
.form-login label{ 
	display:block; 
	font-size:2.0em; 
	text-shadow:1px 1px 0 #FFFFFF;
}
.form-login input[type="text"], .form-login input[type="password"]{ 
	margin:10px 0 15px 0;
	padding:10px 0 10px 5px; 
	vertical-align:middle;
	width:215px; 
	border:solid 1px #b2b2b6; 
	background: #dadada; 
	-webkit-border-radius:5px; 
	border-radius:5px; 
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 20, 0.4); 
	box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 20, 0.4);
}
.form-login input[type="submit"]{
	margin:0 0 10px 70px; 
	padding:0 10px; 	
	cursor:pointer; 
	float:left;	
	border:solid 1px #7aa237; 
	color:#2f3b4b; 
	font-size:2.0em; 
	-webkit-border-radius:5px; 
	border-radius:5px; 
	background: #8ebc44; /* Old browsers */ 
	background: 
		-moz-linear-gradient(top,  #8ebc44 0%, #799f39 100%); /* FF3.6+ */ 
	background: 
		-webkit-linear-gradient(top,  #8ebc44 0%,#799f39 100%); /* Chrome10+,Safari5.1+ */ 
	background: 
		-ms-linear-gradient(top,  #8ebc44 0%,#799f39 100%); /* IE10+ */ 
	background: 
		linear-gradient(top,  #8ebc44 0%,#799f39 100%); /* W3C */ 
	-webkit-box-shadow: 
		inset 0px 0px 1px 1px rgba(196, 215, 141, 1), 
		0px 1px 3px 0px rgba(0, 0, 20, 0.3); 
	box-shadow: 
		inset 0px 0px 1px 1px rgba(196, 215, 141, 1), 
		0px 1px 3px 0px rgba(0, 0, 20, 0.3);
}
.form-login input[type="submit"]:hover{ 
	cursor:pointer;	
	border:solid 1px #7aa237; 
	color:#2f3b4b; 
	-webkit-border-radius:5px; 
	border-radius:5px; 
	background: #98ca47; 
	-webkit-box-shadow: none;
	box-shadow: none;
}
.form-login input[type="submit"]:active{ 
	background: #799f39; /* Old browsers */ 
	background: 
		-moz-linear-gradient(top,  #799f39 0%, #8ebc44 100%); /* FF3.6+ */ 
	background: 
		-webkit-linear-gradient(top,  #799f39 0%,#8ebc44 100%); /* Chrome10+,Safari5.1+ */ 
	background: 
		-ms-linear-gradient(top,  #799f39 0%,#8ebc44 100%); /* IE10+ */ 
	background: 
		linear-gradient(top,  #799f39 0%,#8ebc44 100%); /* W3C */
}	
.form-login a{
	margin:35px 0 0 0; 
	clear:left; 
	float:left; 
	text-decoration:none; 
	font-size:1.2em; 
	color:#99be55;
}
.form-login a:hover{ 
	text-decoration:underline; 
	color:#b6e365;
}
.bg-rodape-login{ 
	position:absolute; 
	bottom:0; 
	width:100%; 
	border-top:solid 1px #0f1a28; 
	background:#1e2632; 
}
.rodape{ 
	margin:0 auto; 
	padding:20px 0 0 0; 
	width:960px; 
	height:30px; 
	text-align:right;
}
.rodape a{ 
	font-size:1.4em; 
	text-decoration:none; 
	color:#fafafa; 
	font-family:Tahoma, Geneva, sans-serif;
}
.rodape a span{ 
	font-size:0.8em;
}
.rodape a:hover{ 
	color:#3d5779;
}
     
